@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Georgia", serif;
  background-color: #ffffff;
  color: #242424;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}